@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

a.menu-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-end;
}

.bar {
  margin: 0.2em;
  font-size: 1.8rem;
  color: #333;
}

nav[role="navigation"] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.js nav[role="navigation"] {
  overflow: hidden;
  max-height: 0;
}

nav[role="navigation"].active {
  max-height: 15rem;
}

nav[role="navigation"] ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav[role="navigation"] li a {
  display: block;
  padding: 0.8em;
  border-radius: 5px;
  transition: all 0.4s linear;
}

nav[role="navigation"] li a:hover {
  background: rgba(123, 123, 138, 0.5);
}

@media screen and (min-width: 48em) {
  .container {
    display: flex;
    justify-content: space-around;
  }

  .container-s {
    padding-top: 4rem;
  }

  .header {
    width: 100%;
    position: fixed;
  }

  /*  .sec-container {
    width: 100%;
    height: 70vh;
    background-size: cover;
  } */

  a.menu-link {
    display: none;
  }
  .js nav[role="navigation"] {
    max-height: none;
  }
  nav[role="navigation"] ul {
    border: 0;
    margin-top: 0.5rem;
  }

  nav[role="navigation"] li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role="navigation"] li a {
    border: 0;
  }
}

@media screen and (min-width: 64em) {
  h2 {
    font-size: 1.5rem;
  }
}
